html
    head

    body
        p Hallo #{name},
        p danke für deine Aufstellung zur StuPa-Wahl 2017.
        p Um den Prozess abzuschließen, klicke bitte auf den folgenden Link:
        a(href=link) #{link}
        p Dein Bewerbungstext ist wie folgt:
        p #{bewerbungstext}
        p Wenn du dich nicht selbst aufgestellt hast, dich aber gerne selbst aufstellen möchtest, hast du hier die Möglichkeit, die Aufstellung zu widerrufen: #{widerrufslink}
        p Im Anschluss kannst du eine neue Aufstellung veranlassen. Ansonsten ignoriere bitte diese Mail und klicke keinen der Links.
        p Viele Grüße
        p Mitja fürs StuPa