html
    head

    body
        p Hallo #{name},
            br
            | danke für deine Aufstellung zur StuPa-Wahl 2018.
        p Um den Prozess abzuschließen, klicke bitte auf den folgenden Link:
        a(href=acceptLink) Bestätigen
        p Dein Aufstellungs-Token lautet: #{token}
        p Dein Bewerbungstext lautet wie folgt:
        p!= applicationText.replace(/\n/g, '<br />')
        p
        | Wenn du dich nicht selbst aufgestellt hast, dich aber gerne selbst aufstellen möchtest, hast du hier die Möglichkeit, die Aufstellung zu widerrufen:
        a(href=removeLink) Widerrufen
        p Im Anschluss kannst du eine neue Aufstellung veranlassen. Ansonsten ignoriere bitte diese Mail und klicke keinen der Links.
        p Viele Grüße
            br
            | Paula fürs StuPa
